.container{
  width: 1442px;
  padding-inline: 16px;
  margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
}
.txt-bold{
  font-weight: 600;
}
.txt-green{
  color: #008A00;
}
.txt-uppercase{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 19px;
}
.txt-highlight{
  color: #2B38D1;
}
.justify-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.border-b{
  border-bottom: 1px solid #E5E8EC;
}
.icon{
  display: flex;
}
.flex-1{
  flex: 1;
}
.txt-white{
  color: #fff;
}
.column{
  display: flex;
  flex-direction: column;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  z-index: 10;
}
.t-0{
  top: 0;
}
.l-0{
  left: 0;
}
.r-0{
  right: 0;
}
.b-0{
  bottom: 0;
}
.bg-red{
  color: #fff;
  background: #A81A24;
}
.txt-red{
  color: #A81A24 !important;
}
.section{
  padding-block: 30px;
}
.banner-ab{
  top: 50%;
  transform: translateY(-50%);
}
/* responsive */
@media screen and (max-width:1442px) {
  .container{
    width: 100%;
    padding-inline: 10px;
  }
}